<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devpaul.bluetoothutillib">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity
            android:name="com.devpaul.bluetoothutillib.dialogs.DeviceDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
    </application>
</manifest>
